@using System.Diagnostics;
@using CprBroker.Data.Applications;

@model CprBroker.Data.Applications.Activity
@{
    Layout = "";
    Func<LogEntry, string> logRowClass = (le => {
        switch((TraceEventType)le.LogTypeId)
        {
            case TraceEventType.Critical:
                return "danger";
            case TraceEventType.Error:
                return "error";
            case TraceEventType.Warning:
                return "warning";
            case TraceEventType.Information:
                return "success";
            default:
                return "";
        }
    });

    Func<LogEntry, string> logGlyphiconClass = (le =>
    {
        switch ((TraceEventType)le.LogTypeId)
        {
            case TraceEventType.Critical:
                return "glyphicon-warning-sign";
            case TraceEventType.Error:
                return "glyphicon-remove-sign";
            case TraceEventType.Warning:
                return "glyphicon-warning-sign";
            case TraceEventType.Information:
                return "glyphicon-info-sign";
            default:
                return "";
        }
    });
}

<style>
    .act > li > a {
        padding-bottom: 5px;
        padding-top: 5px;
    }
</style>

<div class="panel-body pre-scrollable" >
    
    <ul class="nav nav-tabs act">
        <li class="active"><a data-toggle="tab" href="#le_@Model.ActivityId">Logs</a></li>
        <li><a data-toggle="tab" href="#op_@Model.ActivityId">Operations</a></li>
        <li><a data-toggle="tab" href="#dpc_@Model.ActivityId">External calls</a></li>
    </ul>

    <div class="tab-content">

        <!-- Logs -->
        <div id="le_@Model.ActivityId" class="tab-pane fade in active">
            <div class="row">
                <div class="col-md-offset-0 col-md-12">
                    @if (Model.LogEntries.Count > 0)
                    {
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th>TS</th>
                                    <th>Type</th>
                                    <th>Text</th>
                                    @*<th>Object Type</th>*@
                                    <th>XML</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (CprBroker.Data.Applications.LogEntry le in Model.LogEntries)
                                {
                                    <tr class="@logRowClass(le)">
                                        <td>@le.LogDate</td>
                                        <td><span class="glyphicon @logGlyphiconClass(le)"></span></td>
                                        <td>@le.Text</td>
                                        @*<td>@le.DataObjectType</td>*@
                                        <td>@le.DataObjectXml</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <span>N/A</span>
                    }
                </div>
            </div>
        </div>

        <!-- Operations -->
        <div id="op_@Model.ActivityId" class="tab-pane fade">
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    @if (Model.Operations.Count > 0)
                    {
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th>Operation</th>
                                    <th>Key</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (CprBroker.Data.Applications.Operation op in Model.Operations)
                                {
                                <tr>
                                    <td>@op.OperationType.Name</td>
                                    <td>@op.OperationKey</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <span>N/A</span>
                    }
                </div>
            </div>
        </div>

        <!-- External calls -->
        <div id="dpc_@Model.ActivityId" class="tab-pane fade">
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    @if (Model.DataProviderCalls.Count > 0)
                    {
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th>TS</th>
                                    <th>Source type</th>
                                    <th>Op</th>
                                    <th>Input</th>
                                    <th>Cost</th>
                                    <th>Success</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (CprBroker.Data.Applications.DataProviderCall op in Model.DataProviderCalls)
                                {
                                    <tr>
                                        <td>@op.CallTime</td>
                                        <td>@op.DataProviderType</td>
                                        <td>@op.Operation</td>
                                        <td>@op.Input</td>
                                        <td>@op.Cost</td>
                                        <td>@op.Success</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <span>N/A</span>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
