
@section Head {
    <script type="text/javascript" src='@Href("~/Scripts/moment.min.js")'></script>
    <!-- Include Date Range Picker -->
    <script type="text/javascript" src='@Href("~/Scripts/daterangepicker.js")'></script>
    <link rel="stylesheet" type="text/css" href='@Href("~/Content/daterangepicker.css")' />

    <script type="text/javascript" src='@Href("~/Scripts/bootstrap-select.js")'></script>
    <link rel="stylesheet" type="text/css" href='@Href("~/Content/bootstrap-select.css")' />
}


@section Left{
    <!-- Date range -->
    @{
        var dateFormat = "DD MMM YYYY";
    }
    <div id="daterange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
        <span></span> <b class="caret"></b>
    </div>
    <script type="text/javascript">
        $(function () {
            var start = moment();
            var end = moment();

            function cb(start, end) {
                $('#daterange span').html(start.format('@dateFormat') + ' <br> ' + end.format('@dateFormat'));
            }

            $('#daterange').daterangepicker(
            {
                locale: {
                    format: '@dateFormat'
                },
                startDate: start,
                endDate: end,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            },
            cb
            );
            // Fill initial values
            cb(start, end);
        });
    </script>

    <!-- Type -->
    <select class="selectpicker" title="Having..." data-style="" data-width="100%">
        <option>Errors</option>
        <option>Warning</option>
        <option>External Calls</option>
    </select>

    <!-- Aplication -->
    @{
        CprBroker.Data.Applications.Application[] applications;
        using (var dataContext = new CprBroker.Data.Applications.ApplicationDataContext())
        {
            applications = dataContext.Applications.OrderBy(a => a.Name).ToArray();
        }
    }
    <select class="selectpicker" title="Application" data-style="btn-primary" data-width="100%">
        @foreach (CprBroker.Data.Applications.Application app in applications)
        {
            <option value="@app.ApplicationId">@app.Name</option>
        }
    </select>
}

<span id="ActivityList"></span>

<script type="text/javascript">

    $(function () {
        var loadActivities = function () {
            console.info($('#daterange').data('daterangepicker').startDate);
            var url = '@Url.Action("ActivityList", "LogDisplay")';
            url = url
                + '?'
                + 'From=' + $('#daterange').data('daterangepicker').startDate
                + '&To=' + $('#daterange').data('daterangepicker').startDate
                + '&PageSize=' + '5'
                + '&PageNumber=' + '0'
                + '';

            console.info(url);
            $('#ActivityList').load(url);
        };

        loadActivities();
    });
</script>