@using CprBroker.Engine;
@model Tuple<CprBroker.Engine.ISubscriptionManagerDataProvider, Guid>

@functions{
    string spanId(string f)
    {
        return "spn_" + f.Replace(" ", "");
    }

    bool isFirstField(string f)
    {
        return f.Equals(Model.Item1.SubscriptionFields.First());
    }
}

<div class="container">
    <ul class="nav nav-tabs">
        @foreach (var field in Model.Item1.SubscriptionFields)
        {
            <li @{Output.Write(isFirstField(field) ? "class=\"active\"" : "");}>
                <a data-toggle="tab" href="@{Output.Write("#" + spanId(field));}"><b>@field</b></a>
            </li>
        }
    </ul>
    <br />
    <div class="tab-content">
        @foreach (var field in Model.Item1.SubscriptionFields)
        {
            <div id="@spanId(field)" class="tab-pane fade@{ Output.Write(isFirstField(field)? " in active":"");}">
                @{
            Html.RenderPartial(
                "~/Views/SubscriptionDataProvider/DataProviderFieldView.cshtml",
                new Tuple<ISubscriptionManagerDataProvider, Guid, string>(Model.Item1, Model.Item2, field)
                );
                }
            </div>
        }
    </div>
</div>

<script language="javascript">

    function setDataProviderButtonEvents() {

        $('[name="addSubscription"]').unbind('click');
        $('[name="addSubscription"]').click(function () {
            var id = this.getAttribute('textboxid');
            var txt = $('#' + id);
            var field = txt.attr('field');
            var value = txt.val();
            var dataProviderId = '@Model.Item2';
            var url = '/mvc/pages/dataproviders/' + dataProviderId + '/putsubscription/' + field + '/' + value;

            $.get(url)
                .done(function (data, textStatus, jqXHR) {
                    refreshField(field);
                })
                .fail(function (data, textStatus) {
                    alert('failed');
                });
        });

        $('[name="removeSubscription"]').unbind('click');
        $('[name="removeSubscription"]').click(function () {
            var field = this.getAttribute('field');
            var value = this.getAttribute('fieldValue');
            var dataProviderId = '@Model.Item2';
            var url = '/mvc/pages/dataproviders/' + dataProviderId + '/removesubscription/' + field + '/' + value;

            $.get(url)
                .done(function (data, textStatus, jqXHR) {
                    refreshField(field);
                })
                .fail(function (data, textStatus) {
                    alert('failed');
                });
        });

        $('[name="chkSubscription"]').unbind('click');
        $('[name="chkSubscription"]').click(function () {
            var chk = this;
            var field = this.getAttribute('field');
            var value = this.getAttribute('value');
            var dataProviderId = '@Model.Item2';

            var url = '/mvc/pages/dataproviders/' + dataProviderId
                + ((this.checked) ? '/putsubscription/' : '/removesubscription/')
                + field + '/' + value;

            $.get(url)
                .done(function (data, textStatus, jqXHR) {
                    refreshField(field);
                })
                .fail(function (data, textStatus) {
                    alert('failed');
                    chk.checked = !chk.checked;
                });
        })
    }

    function refreshField(field) {
        var fieldSpan = $('#spn_' + field);
        var dataProviderId = '@Model.Item2';

        var url = '/mvc/pages/dataproviders/' + dataProviderId + '/view/' + field;

        fieldSpan.load(url, function (data) {
            setDataProviderButtonEvents();
        });
    }
    setDataProviderButtonEvents();

</script>
