@using CprBroker.Engine;
@model Tuple<CprBroker.Engine.ISubscriptionManagerDataProvider, Guid>

<html>
<head>
    <link rel="stylesheet" href="~/Pages/CSS/style.css" />
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
</head>
</html>

<div class="modal static">
    <!-- Modal HTML -->
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">@Model.ToString()</h4>
            </div>
            <div class="modal-body">
                @foreach (var field in Model.Item1.SubscriptionFields)
                {
                    <span id="@{Output.Write("spn_" + field);}">
                        @{
                    Html.RenderPartial(
                        "~/Views/SubscriptionDataProvider/DataProviderFieldView.cshtml",
                        new Tuple<ISubscriptionManagerDataProvider, Guid, string>(Model.Item1, Model.Item2, field)
                        );
                        }
                    </span>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script language="javascript">

    function setDataProviderButtonEvents() {

        $('[name="addSubscription"]').unbind('click');
        $('[name="addSubscription"]').click(function () {
            var id = this.getAttribute('textboxid');
            var txt = $('#' + id);
            var field = txt.attr('field');
            var value = txt.val();
            var dataProviderId = '@Model.Item2';
            var url = '/mvc/pages/dataproviders/' + dataProviderId + '/putsubscription/' + field + '/' + value;

            $.get(url)
                .done(function (data, textStatus, jqXHR) {
                    refreshField(field);
                })
                .fail(function (data, textStatus) {
                    alert('failed');
                });
        });

        $('[name="removeSubscription"]').unbind('click');
        $('[name="removeSubscription"]').click(function () {
            var field = this.getAttribute('field');
            var value = this.getAttribute('fieldValue');
            var dataProviderId = '@Model.Item2';
            var url = '/mvc/pages/dataproviders/' + dataProviderId + '/removesubscription/' + field + '/' + value;

            $.get(url)
                .done(function (data, textStatus, jqXHR) {
                    refreshField(field);
                })
                .fail(function (data, textStatus) {
                    alert('failed');
                });
        });

        $('[name="chkSubscription"]').unbind('click');
        $('[name="chkSubscription"]').click(function () {
            var chk = this;
            var field = this.getAttribute('field');
            var value = this.getAttribute('value');
            var dataProviderId = '@Model.Item2';

            var url = '/mvc/pages/dataproviders/' + dataProviderId
                + ((this.checked) ? '/putsubscription/' : '/removesubscription/')
                + field + '/' + value;

            $.get(url)
                .done(function (data, textStatus, jqXHR) {
                    refreshField(field);
                })
                .fail(function (data, textStatus) {
                    alert('failed');
                    chk.checked = !chk.checked;
                });
        })
    }

    function refreshField(field) {
        var fieldSpan = $('#spn_' + field);
        var dataProviderId = '@Model.Item2';

        var url = '/mvc/pages/dataproviders/' + dataProviderId + '/view/' + field;
        
        fieldSpan.load(url, function (data) {
            setDataProviderButtonEvents();
        });
    }
    setDataProviderButtonEvents();

</script>